@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0 bg-seagreen-100;
}

em-emoji-picker {
  height: 50vh;
  min-height: 400px;
  max-height: 800px;
  width: 90vw;
  max-width: 350px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: #e8e8e8;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background: #00b4d8;
  border-radius: 30px;
}
